<div class="container">
  <section class="portafolio">
            <ul>
                <li>
                    <div class="icon-back">
                     <i class="fa fa-globe" aria-hidden="true"></i>
                    </div>
                    <article>
                       
                        <h3>Trabajos de desarrollo web</h3>
                        <p>Las tecnologías de la web restan en constante avance y cambio , Yo intento mantenerme al día de todo lo que se cuece (que no es poco) para así dar el mejor servicio.
                        Un buen ejemplo de mi trabajo en Desarrollo web es esta misma pagina, también puedes ver algunos mas en el <span>spoiler</span> siguiente.</p>
                        <i (click)="toggleSpoiler($event)" class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
                        <div class="spoiler">
                            <a href="http://www.rafaxplayer.com/cooking-is-fun/recipes" target="_blank">Cocinar es divertido (Plataforma para editar y compartir Recetas de cocina)</a>
                            <a href="http://www.rafaxplayer.com/cheftools/" target="_blank">ChefTools (Web de la aplicacion cheftools)</a>
                            
                        </div>
                        
                    </article>
                    <div class="timeline"></div>
                </li>
                <li>
                    <div class="icon-back">
                    <i class="fa fa-android" aria-hidden="true"></i>
                    </div>
                    <article>
                       
                        <h3>Mobile (Android/IOS/Phonegap....)</h3>
                        <p>Aplicaciones nativas con Android/ios hibridas con phonegap y frameworks como ionic , el desarrollo móvil ofrece muchas alternativas fascinantes para trabajar.</p>
                        <i (click)="toggleSpoiler($event)" class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
                        <div class="spoiler">
                            <a href="https://play.google.com/store/apps/details?id=com.ionicframework.babel795621" target="_blank">Babel (Traductor de idiomas)</a>
                            <a href="https://play.google.com/store/apps/details?id=rafaxplayer.micocina" target="_blank">Mi Cocina (Aplicacion para gestionar recetas)</a>
                            <a href="https://play.google.com/store/apps/details?id=rafaxplayer.cheftools" target="_blank">Herramientas para Chefs (Herramientas de gestion de una cocina profesional)</a>
                        </div>
                        
                    </article>
                    <div class="timeline"></div>
                </li>
                <li>
                    <div class="icon-back">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                    </div>
                    <article>
                       
                        <h3>Aplicaciones Varias</h3>
                        <p>Tambien he realizado trabajos para otro tipo de plataformas como aplicaciones de escritorio o extensiones para navegadores , etc...</p>
                        <i (click)="toggleSpoiler($event)" class="fa fa-angle-down fa-2x" aria-hidden="true"></i>
                        <div class="spoiler">
                            <a href="https://mega.nz/#!9EE1xCgb!cg-Z9xgi8ItD3GMWTFqLLbnIME7hL2gH-9U_kW0rkIY">Notificator (Extension para Chrome)</a>
                            
                        </div>
                        
                    </article>
                    
                </li>
            </ul>

        </section>
</div>
