<div class="container">
<section class="targeta">
            <div class="slide" id="slides">
                <img src="../assets/images/dev-1.jpg" alt="">
                <img src="../assets/images/dev-2.jpg" alt="">
                <img src="../assets/images/dev-3.jpg" alt="">
                <i class="fa fa-chevron-left controls slidesjs-previous slidesjs-navigation" aria-hidden="true"></i>
                <i class="fa fa-chevron-right controls slidesjs-next slidesjs-navigation" aria-hidden="true"></i>
            </div>
            
            <div class="info">
                <div class="info-dev">
                    <h1>Hola! soy Juan Rafael Simarro</h1>
                    <p class="description">Soy desarrollador inquieto y autodidacta en toda tecnología que me aporte algo.</p>
                     <p class="description">Realizo proyectos de todo tipo Mobile, Web , Desktop , para obtener mis servicios contacta conmigo desde la sección contacto o en mis redes sociales.</p>
                </div>
                <picture>
                    <img src="../assets/images/yo.png" alt="">
                </picture>
                
            </div>
            <div class="social hi-icon-wrap hi-icon-effect-8">
                <a href="https://www.facebook.com/juanrafael.simarofaba" target="_blank"><i class="fa fa-facebook hi-icon"></i></a>
                <a href="https://twitter.com/rafaxplayer" target="_blank"><i class="fa fa-twitter hi-icon"></i></a>
                <a href="https://plus.google.com/u/0/103570118512241336112" target="_blank"><i class="fa fa-google-plus hi-icon"></i></a>
            </div>
</section>
</div>
